<footer class="pt-6 my-md-5 pt-md-1 border-top" style="background-color: black; color:white;">
        <div class="row">
          <div class="col-12 col-md">
            <img class="" src="/logito_00000_00000.png" alt="" width="64" height="64">
            <small class="d-block mb-3 text-muted">© 2021</small>
          </div>
          <div class="col-6 col-md">
            <h5>Caracteristicas</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">AntiDDos</a></li>
              <li><a class="text-muted" href="#">Pterodactyl Panel</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Localizaciones</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Chile</a></li>
              <li><a class="text-muted" href="#">Canada</a></li>
              <li><a class="text-muted" href="#">Estados Unidos</a></li>
              <li><a class="text-muted" href="#">Brazil</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Acerca de</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Nuestro Equipo</a></li>
              <li><a class="text-muted" href="#">Terminos</a></li>
            </ul>
          </div>
        </div>
      </footer>
